
/* Small devices (phones, less than 600px) */
@media screen and (min-width: 1240px) {
  html{
    font-size: 1.5rem;
  }
   .left-content{
    gap: 8rem;
   }
}

@media screen and (max-width: 600px) {
  .main-container{
      width: 100vw;
  }

  .container {
    width: 100%;
    padding: 1rem;
    padding-bottom: 5rem;
    box-sizing: border-box; /* Ensure padding doesn't increase the width */
  }

  .parent-nav {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .glass-nav {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 1rem;
    gap: 0.3rem;
  }

  .regular-font2{
    margin-top: rem;
  }

  .regular-font3{
    margin-top: 1rem;
  }

  .left-content-elements{
    position: relative;
    display: flex;
    order: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .element_1{
    width: 100%;
    right: unset;
    top: -2rem;
  }

  .element_2{
    width: 100%;
    right: unset;
    top: -2rem;
  }

  .element_3{
    width: 100%;
    height: auto;
    bottom: unset;
    left: unset;
  }

  .glass-1 {
    top: 12%;
    height: 60vw;
    width: 27vw;
    max-height: 25rem;
    max-width: 12rem;
    min-width: 5rem;
    border-radius: 2rem;
  }

  .nav-logo {
    width: 4rem;
  }

  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .main-content {
    flex-direction: column;
    align-items: center;  
    gap: 2rem;
  }

  .left-content {
    gap: unset;
    order: 1;
  }

  .left-content-text {
    order: 2;
    text-align: center;
    margin: 0;
  }

  .regular-font {
    font-size: 0.9rem;
    text-align: center;
  }

  .my_image {
    position: relative;
    right: 1rem;
    bottom: -0.7rem;
    width: 100%;
    height: auto;
    scale: 1.2;
  }

  .my_image2 {
    position: relative;
    right: -0.5rem;
    bottom: -0.2rem;
    width: 120%;
    height: auto;
    overflow: hidden;
    scale: 1.2;
  }

  .glass-2 {
    position: absolute;
    right: unset;
    bottom: unset;
    width: 60%;
    height: 80%;
    border-radius: 1.5rem;
    scale: 1.2;
  }

  .button-content {
    order: 3;
    display: flex;
    justify-content: center;
    gap: 1rem;

    padding-top: 2rem;
    width: 100%;
  }

  .glass-button-1, .glass-button-2{
    width: 4.5rem;
    height: 2.2rem;
    margin-top: 0rem;
  }

  .right-content {
    margin-top: 2rem;
    order: 2; 
    width: 100%;
  }

  /* PROJECTS PAGE */

  .projects-main-content{
    gap: 2rem;
  }

  .line-left, .line-right {
    display: none;
  }

  .image-carousel{
    display: flex;
    justify-items: content;
    height: 15rem;
    overflow: hidden;
  }

  .image-placeholder.center {
    display: block;
    width: 80%;
    height: 90%;
  }

  .image-placeholder.left,
  .image-placeholder.right,
  .image-placeholder.left-offscreen,
  .image-placeholder.right-offscreen {
    width: 80%;
    height: 90%;
  }

  .left-and-right-button{
    width: 110%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 5rem;
    z-index: 4;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 1));
  }
  
  .left-button, .right-button{
    display: block;
    width: 5rem;
    height: auto;

    transition: transform 0.3s ease-in-out;
  }

  .left-button:active,
  .right-button:active {
    transform: scale(0.8);
    
  }

  .project-description h1{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
  }

  /* EXPERIENCE PAGE */

  .experience-main-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .experience-placeholders {
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .experience-placeholder-1,
  .experience-placeholder-2,
  .experience-placeholder-3 {
    width: 90%;
    max-width: 90vw;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }

  /* BLOG PAGE*/

  .blog-header h1{
    text-align: center;
  }

  .blog-main-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .blog-content{
    flex-direction: column;
  }

  .leading-content-description h1{
    font-size: 2rem;
  }

  .search-bar{
    margin: 0 auto;
    width: 90%
  }

  .other-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Always 2 equal columns */
  gap: 1rem; /* Adjust spacing between items */
  }

  .sub-content-description h1{
    font-size: 1.5rem;
  }

  /* CONTACT PAGE */

  .contact-main-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .right-message-section{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .message-placeholder{
    justify-self: center;
    width: 80%;
  }


}