/* Small devices (phones, less than 600px) */
@media screen and (max-width: 600px) {

  .main-container{
      width: 100vw;
  }

  .container {
    width: 100%;
    padding: 1rem;
    padding-bottom: 5rem;
    box-sizing: border-box; /* Ensure padding doesn't increase the width */
  }

  .parent-nav {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .glass-nav {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 1rem;
    gap: 0.3rem;
  }

  .regular-font1{
    font-size: 1.5rem !important;
  }

  .regular-font2{
    margin-top: 1rem;
  }

  .regular-font3{
    margin-top: 1rem;
  }

  .left-content-elements{
    display: flex;
    order: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .element_1{
    right: unset;
    top: -2rem;
  }

  .element_3{
    width: 100%;
    height: auto;
    bottom: unset;
    left: unset;
  }

  .glass-1{
    bottom: 9rem;
  }

  .nav-logo {
    width: 4rem;
  }

  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .left-content {
    gap: unset;
    order: 1;
  }

  .left-content-text {
    margin-top: -5rem;
    order: 2;
    text-align: center;
  }

  .regular-font {
    font-size: 0.9rem;
    text-align: center;
  }

  .my_image {
    position: relative;
    right: 1rem;
    bottom: unset;
  }

  .my_image2 {
    position: relative;
    display: none;
    right: -0.5rem;
    bottom: .7rem;
  }

  .glass-2 {
    position: absolute;
    margin-top: 1rem;
    right: unset;
    bottom: 1.7rem;
  }


  .button-content {
    margin-top: -3rem;
    
    order: 3;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 0rem;
    width: 100%;
  }

  .glass-button-1, .glass-button-2{
    width: 4.5rem;
    height: 2.2rem;
    margin-top: 0rem;
  }

  .right-content {
    order: 2;
  }

  /* PROJECTS PAGE */

  .image-carousel{
    justify-self: center;
  }

  .image-placeholder.center{
    height: 80%;
    width: 90%;
  }

  .line-left, .line-right{
    display: none;
  }

  .left-and-right-button{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
  }
  
  .left-button, .right-button{
    display: block;
    width: 5rem;
    height: auto;
  }
}
